*.log
.DS_Store
.claude/settings.local.json
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/package-lock.json
/public/css
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/composer.phar
/public/.dh-diag
/public/favicon.gif
/public/test.php
/public/vendor/
.claude/settings.local.json
